.container {
  background-color: white;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas:
  "nav "
  "reserve"
  "specials"
  "testimonials"
  "about"
  "footer"
  ;
  }

.nav {
  grid-area: nav;
}

.reserve {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #495E57;
  grid-area: reserve;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specials {
  grid-area: specials;
}
.testimonials {
  grid-area: testimonials;
}
.about {
  grid-area: about;
}
.footer {
  grid-area: footer;
}

.navli li {
  display: flex;
}

.navli a {
text-decoration:none;
font-family: 'Karla';
font-style: normal;
display: flex;
font-size: minmax(17pxa);
align-items: center;
color: #000000;
white-space: initial;
}

.navli {
display: flex;
flex-direction: row;
padding: 0px;
gap: 15px;
justify-content: center;
}
